//         <<<<<<< HEAD header {
//     width: 100%;
//     background: linear-gradient(to bottom, #086ed5, #055db5);
//     border-bottom: 1px solid #044e97;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
//     position: relative;
// }
// .logo {
//     width: 78%;
//     overflow: hidden;
//     a {
//         display: table-cell;
//         vertical-align: middle;
//         height: 74px;
//         img {
//             display: block;
//             vertical-align: middle;
//             width: 100%;
//         }
//     }
//   }
//   .head-nav{
//     li{
//       float:left;
//       margin-left:3%;
//       a{
//         color:#fff;
//         display:block;
//         font-size:18px;
//         line-height:60px;
//         padding:6px 12px 8px;
//         transition:.3s;
//         -webkit-transition:.3s;
//         &:hover{
//           background:#337ab7;
//         }
//       }
//     }
//   }
//   .head-Rall{
//     float:right;
//   }
//     .head-login{
//       padding-top:13px;
//       float:right;
//       li{
//         float:left;
//         margin:0 5px;
//         position:relative;
//         padding:0 5px;
//         img{
//           border-radius: 50%;
//           width:30px;
//           height:30px;
//           display:inline-block;
//         }
//         #userName{
//           display:inline-block;
//           width:80px;
//           color:#d44920;
//           overflow: hidden;
//           white-space:nowrap;
//           text-overflow: ellipsis;
//         }
//         a{
//           cursor:pointer;
//           line-height:42px;
//           color:#fff;
//           font-size:14px;
//           transition:.3s;
//          -webkit-transition:.3s;
//          span{
//            margin-left:5px;
//            vertical-align: middle;
//          }
//          .txt-login{
//            &:hover{
//              color:#fff;
//            }
//          }
//         }
//       }
//       .login-one{
//         margin:0 15px;
//         .email-icon{
//           width:28px;
//           height:18px;
//           display:inline-block;
//           vertical-align: middle;
//           background:url(/assets/images/icon.png) no-repeat 0 -56px;
//         }
//       }
//     }
//     .login-icon{
//         background:url(/assets/images/icon.png) no-repeat 0 -29px;
//         display:inline-block;
//         height:18px;
//         width:18px;
//         vertical-align: middle;
//     }
//   .head-serch{
//       line-height:66px;
//       float:left;
//       .serch-box{
//         display:inline-block;
//         position:relative;
//         left:0px;
//         top:5px;
//         input{
//           border:1px solid #fff;
//           border-radius: 20px;
//           color:#fff;
//           font-family: "Microsoft YaHei";
//           height:30px;
//           line-height:30px;
//           padding:0 10px 0 15px;
//           width:157px;
//           -webkit-transition:.3s;
//           background:#fff;
//           outline: none;
//           &:focus{
//           transition: .3s;
//           width:187px;
//           }
//         }
//         .head-btn{
//           background:none;
//           outline: none;
//           border:none;
//           position:absolute;
//           right:3px;
//           top:17px;
//           width:30px;
//           height:30px;
//           cursor: pointer;
//           z-index:3;
//           em{
//             background:url(/assets/images/icon.png) no-repeat 0 0;
//             display:inline-block;
//             height:18px;
//             width:18px;
//             vertical-align: middle;
//           }
//         }
//       }
//   }
//   .head-mobile{
//     display:none;
//   }
// @media only screen and (max-width: 992px) and (min-width: 375px){
//   header .logo img{
//     width:70%;
//   }
//   .head-Right{
//     display:none;
//   }
//   .min-nav-btn{
//       display:block;
//       position:absolute;
//       top:27px;
//       right:8px;
//       height:30px;
//       width:30px;
//       .min-nav-icon{
//         width:25px;
//         height:2px;
//         background: #fff;
//         &::before{
//           content: '';
//           width: 25px;
//           height: 2px;
//           background: #fff;
//           position: absolute;
//           top: 6px;
//         }
//         &::after{
//           content: '';
//           width: 25px;
//           height: 2px;
//           background: #fff;
//           position: absolute;
//           top: 12px;
//         }
//       }
//   }
//   .pack{
//     top:6px;
//     .min-nav-icon{
//       margin:29px 0 0 0px;
//       transform: rotate(-45deg);
//       -webkit-tansform:rotate(-45deg);
//       &::after{
//         top:0;
//         transform: rotate(90deg);
//         -webkit-tansform:rotate(90deg);
//       }
//       &::before{
//        display:none;
//       }
//     }
//   }
//   .mn-nav{
//     display:none;
//   }
//   .head-moblie-mask{
//     position:absolute;
//     opacity:1;
//     top:0;
//     left:0;
//     z-index:1000;
//     width:100%;
//     height:100%;
//     overflow: hidden;
//     background: rgba(0,0,0,.2);
//     transition:all .3s;
//     -webkit-transition:all .3s;
//   }
//   .head-mobile{
//     display:block;
//     position:absolute;
//     right:0px;
//     top:0px;
//     bottom:0px;
//     width:240px;
//     overflow-x: hidden;
//     overflow-y:auto;
//     background:#3f3f3f;
//     transform:translate3d(100%,0,0);
//     z-index:999;
//   }
//   .head-mobile-box{
//     padding:20px 15px 0;
//     .pic-icon{
//       border:3px solid rgba(255,255,255,.1);
//       border-radius: 50%;
//       float:left;
//       overflow:hidden;
//       position:relative;
//       margin-right:15px;
//     }
//     h4{
//       line-height:30px;
//       overflow:hidden;
//        white-space:nowrap;
//        text-overflow:ellipsis;
//        span{
//          color:#ccc;
//          font-size:16px;
//        }
//     }
//     .shop-car{
//       a{
//         border:1px solid #555;
//         width:92px;
//         height:27px;
//         text-align: center;
//         line-height:27px;
//         display:inline-block;
//         border-radius: 40px;
//         margin-top:7px;
//         font-size:1.53rem;
//         color:#999;
//       }
//     }
//     .person-msg{
//        border-top:1px solid #ccc;
//        margin-top:15px;
//        border-color:#666;
//        ul{
//          padding:20px 0 20px 0;
//          li{
//            line-height:32px;
//            padding-left:30px;
//            background:url(/assets/images/icon.png) no-repeat -540px -386px;
//            border-bottom:1px solid #3d3d3d;
//            a{
//              color:#999;
//            }
//          }
//        }
//        .exit{
//          margin-top:15px;
//          text-align: center;
//          .login-out{
//             color:#999;
//             width:90%;
//             border:1px solid #555;
//             width: 121px;
//             height: 27px;
//             text-align: center;
//             line-height: 27px;
//             display: inline-block;
//             border-radius: 40px;
//             margin-top: 7px;
//             font-size: 1.53rem;
//          }
//        }
//     }
//   }
// }
// @media only screen and (max-width: 992px) and (min-width: 375px){
//   .mn-nav{
//     display:block;
//     ul{
//       border-top:1px solid #555;
//       margin-top:15px;
//       padding-top:10px;
//       li{
//         float:left;
//         width:50%;
//         a{
//           display:block;
//           padding:0 15px;
//           height:30px;
//           line-height:30px;
//           font-size:16px;
//           color:#999;
//         }
//       }
//     }
//   }
// }
// =======
header {
    width: 100%;
    background: linear-gradient(to bottom, #086ed5, #055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
    position: relative;
}

.logo {
    width: 78%;
    overflow: hidden;
    a {
        display: table-cell;
        vertical-align: middle;
        height: 74px;
        img {
            display: block;
            width: 100%;
        }
    }
}

.head-nav {
    li {
        float: left;
        margin-left: 3%;
        a {
            color: #fff;
            display: block;
            font-size: 18px;
            line-height: 60px;
            padding: 6px 12px 8px;
            transition: .3s;
            -webkit-transition: .3s;
            &:hover {
                background: #337ab7;
            }
        }
    }
}

.head-Rall {
    float: right;
}

.head-login {
    padding-top: 13px;
    float: right;
    li {
        float: left;
        margin: 0 5px;
        position: relative;
        padding: 0 5px;
        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: inline-block;
        }
        #userName {
            display: inline-block;
            width: 80px;
            color: #d44920;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        a {
            cursor: pointer;
            line-height: 42px;
            color: #fff;
            font-size: 14px;
            transition: .3s;
            -webkit-transition: .3s;
            span {
                margin-left: 5px;
                vertical-align: middle;
            }
            .txt-login {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .login-one {
        margin: 0 15px;
        .email-icon {
            width: 28px;
            height: 18px;
            display: inline-block;
            vertical-align: middle;
            background: url(/assets/images/icon.png) no-repeat 0 -56px;
        }
    }
}

.login-icon {
    background: url(/assets/images/icon.png) no-repeat 0 -29px;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.head-serch {
    line-height: 66px;
    float: left;
    .serch-box {
        display: inline-block;
        position: relative;
        left: 0px;
        top: 5px;
        input {
            border: 1px solid #fff;
            border-radius: 20px;
            color: #fff;
            font-family: "Microsoft YaHei";
            height: 30px;
            line-height: 30px;
            padding: 0 10px 0 15px;
            width: 157px;
            -webkit-transition: .3s;
            background: #fff;
            outline: none;
            &:focus {
                transition: .3s;
                width: 187px;
            }
        }
        .head-btn {
            background: none;
            outline: none;
            border: none;
            position: absolute;
            right: 3px;
            top: 17px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            line-height: 1px;
            z-index: 3;
            em {
                background: url(/assets/images/icon.png) no-repeat 0 0;
                display: inline-block;
                height: 18px;
                width: 18px;
                vertical-align: middle;
            }
        }
    }
}

.head-mobile {
    display: none;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    header .logo a {
        height: 40px;
        img {
            width: 52%;
        }
    }
    .head-Right {
        display: none;
    }
    .min-nav-btn {
        display: block;
        position: absolute;
        top: 13px;
        right: 8px;
        height: 30px;
        width: 30px;
        .min-nav-icon {
            width: 20px;
            height: 2px;
            background: #fff;
            &::before {
                content: '';
                width: 20px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 6px;
            }
            &::after {
                content: '';
                width: 20px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 12px;
            }
        }
    }
    .pack {
        top: -7px;
        .min-nav-icon {
            margin: 26px 0 0 0px;
            transform: rotate(-45deg);
            -webkit-tansform: rotate(-45deg);
            &::after {
                top: 0;
                transform: rotate(90deg);
                -webkit-tansform: rotate(90deg);
            }
            &::before {
                display: none;
            }
        }
    }
    .mn-nav {
        display: none;
    }
    .head-moblie-mask {
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        left: 0;
        background: rgba(0, 0, 0, .2);
        transition: all .3s;
        -webkit-transition: all .3s;
    }
    .head-mobile {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #3f3f3f;
        transform: translate3d(100%, 0, 0);
        z-index: 999;
    }
    .head-mobile-box {
        padding: 20px 15px 0;
        .pic-icon {
            border: 3px solid rgba(255, 255, 255, .1);
            border-radius: 50%;
            float: left;
            overflow: hidden;
            position: relative;
            margin-right: 15px;
        }
        h4 {
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span {
                color: #ccc;
                font-size: 16px;
            }
        }
        .shop-car {
            a {
                border: 1px solid #555;
                width: 92px;
                height: 27px;
                text-align: center;
                line-height: 27px;
                display: inline-block;
                border-radius: 40px;
                margin-top: 7px;
                font-size: 1.53rem;
                color: #999;
            }
        }
        .person-msg {
            border-top: 1px solid #ccc;
            margin-top: 15px;
            border-color: #666;
            ul {
                padding: 20px 0 20px 0;
                li {
                    line-height: 32px;
                    padding-left: 30px;
                    background: url(/assets/images/icon.png) no-repeat -540px -386px;
                    border-bottom: 1px solid #3d3d3d;
                    a {
                        color: #999;
                    }
                }
            }
            .exit {
                margin-top: 15px;
                text-align: center;
                .login-out {
                    color: #999;
                    width: 90%;
                    border: 1px solid #555;
                    width: 121px;
                    height: 27px;
                    text-align: center;
                    line-height: 27px;
                    display: inline-block;
                    border-radius: 40px;
                    margin-top: 7px;
                    font-size: 1.53rem;
                }
            }
        }
    }
    .mn-nav {
        display: block;
        ul {
            border-top: 1px solid #555;
            margin-top: 15px;
            padding-top: 10px;
            li {
                float: left;
                width: 50%;
                a {
                    display: block;
                    padding: 0 15px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    color: #999;
                }
            }
        }
    }
}