<div id="courslist">
    <div class="courslist-head">
        <div class="container">
          <div class="row">
              <section class="path-wrap">
                  <a href="javascript:;">首页 \ </a>
                  <span>课程列表</span>
              </section>
              <section class="coures-option">
                  <dl class="clearfix">
                    <dt>
                      <span>按专业</span>
                    </dt>
                    <dd>
                      <ul class="clearfix">
                        <li class="current"><a  href="javascript:void(0)">全部</a></li>
                        <li><a  href="javascript:void(0)">小学</a></li>
                        <li><a  href="javascript:void(0)">初中</a></li>
                        <li><a  href="javascript:void(0)">高中</a></li>
						          </ul>
                    </dd>
                  </dl>
              </section>

            </div>
        </div>
    </div>
    <section class="moblie-sort">
        <ul class="clearfix">
           <li>
             <a href="javascript:;">
               <span>课程专业</span>
               <em class="sort-icon"></em>
             </a>
           </li>
           <li>
             <a href="javascript:;">
               <span>综合排序</span>
               <em class="sort-icon"></em>
             </a>
           </li>
           <li>
             <a href="javascript:;">
               <span>筛选条件</span>
               <em class="sort-icon"></em>
             </a>
           </li>

        </ul>
        <section class="unfold" style="display:none">
            <ul class="clearfix">
              <li><a href="javascript:;">全部</a></li>
              <li><a href="javascript:;">小学</a></li>
              <li><a href="javascript:;">初中</a></li>
              <li><a href="javascript:;">高中</a></li>
            </ul>
        </section>
        <section class="unfold" style="display:none">
            <ul class="clearfix">
              <li><a href="javascript:;">综合排序</a></li>
              <li><a href="javascript:;">最新课程</a></li>
              <li><a href="javascript:;">热门课程</a></li>
              <li><a href="javascript:;">价格从高到低</a></li>
              <li><a href="javascript:;">价格从低到高</a></li>
            </ul>
        </section>
         <section class="unfold" >
            <div class="course-type">
                <p>课程类型</p>
                <div>
                  <span><a href="javascript:;">套餐课程</a></span>
                  <span><a href="javascript:;">免费课程</a></span>
                </div>
            </div>
            <div class="btn-box">
              <a href="javascript:;" class="reset">重置</a>
              <a href="javascript:;" class="true">确认</a>
            </div>
        </section>
    </section>
</div>
