#courslist{
  padding-bottom:80px;
  background-color: #f8f8f8;
}
.path-wrap{
  margin:0px 0px 15px;
  color:#ccc;
  line-height:30px;
  padding-top:15px;
  a{
    color:#999;
    font-size:14px;
  }
  span{
    color:#333;
    font-size:14px;
  }
}
  .coures-option{
    border:1px solid #eee;
    padding:2px 5px 0px;
    background-color:#fff;
    dt{
      float:left;
      width:90px;
      text-align: center;
      padding-right:5px;
      line-height:36px;
      overflow: hidden;
      span{
        color:#333;
        font-size:16px;
      }
    }
      ul{
        overflow: hidden;
        li{
          float:left;
          margin:7px 10px 0px 0px;
          &.current{
            border-radius: 6px;
            background-color: #d44920;
            color:#fff;
            a{
              color:#fff;
            }
          }
          a{
            display:block;
            color:#666;
            font-size:14px;
            padding:0 15px;
            line-height:24px;
            border-radius: 4px;
            }
         }
      }
    }
    .courslist-content{
      margin-top: 20px;
      border:1px solid #eee;
    }
    .sort-wrap{
      background:#fff;
      border-bottom:1px solid #eee;
      li{
        float:left;
        margin-right:5px;
        &.current{
          border-width:2px 1px 0 1px;
          border-color:#d44920;
          border-style:solid;
          a{
          color:#d44920;
          }
        }
        a{
          display:block;
          padding:0 30px;
          line-height:44px;
          color:#666;
          font-size:14px;
        }
      }
    }
    .coursnew{
      padding:20px;
      min-height:600px;
    }
    .moblie-sort{
      display:none;
    }
    @media only screen and (max-width: 992px) and (min-width: 375px){
      .moblie-sort{
        display:block;
        border-bottom:1px solid #eee;
        position:relative;
        min-height:400px;
      li{
        float:left;
        width:33.33%;
        text-align: center;
        height:40px;
        background:#fff;
        a{
          display:inline-block;
          line-height:40px;
          font-size:1.28rem;
          color:#666;
          em{
             background:url(/assets/images/icon.png) no-repeat -426px -204px;
             height:16px;
             width:16px;
             display:inline-block;
             vertical-align: middle;
          }
        }
      }
      }
    .unfold{
      min-height:400px;
      width:100%;
      background:#fff;
      transition:0.4s;
      position:absolute;
      top:41px;
      left:0px;
      z-index:9999;
      .btn-box{
        position:absolute;
        bottom:0px;
        left:0px;
        height:32px;
        background: #fafafa;
        border-top: 1px solid #ddd;
        width: 100%;
        padding-top: 6px;
        text-align: right;
        a{
          display:inline-block;
          width:20%;
          height:26px;
          line-height:24px;
          font-size:0.96rem;
          border-radius: 2px;
          text-align: center;
          margin-right:20px;
          &.reset{
            background-color: #ffd7ca;
            color:#d44920;
          }
          &.true{
                background-color: #d44920;
                color:#fff;
                text-decoration: none;
          }
        }
      }
      .course-type{
        p{
          font-size:1.28rem;
          line-height:26px;
          color:#333;
          margin-left:5px;
          padding-top:5px;
        }
        span{
          float:left;
          a{
            display:inline-block;
            height:26px;
            line-height:26px;
            padding:0 10px;
            background: #eee;
            margin:8px 5px;
            border-radius: 4px;
            border:1px solid transparent;
          }
        }
      }
      li{
        border-bottom:1px solid #eee;
        width:100%;
        text-align: left;
        &:first-child{
          background:#eee;
          text-decoration: none;
        }
        a{
          padding-left:10px;
          display: block;
          font-size:0.96rem;
          line-height:36px;
        }
      }
    }
}
