<div class="carousel slide" id="carousel" data-interval="5000" data-ride="carousel" data-pause="hover">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active"><img src="http://wx.jledu.com.cn/images/upload/image/20161220/1482229429656.jpg" alt=""></div>
        <div class="item"><img src="http://wx.jledu.com.cn/images/upload/image/20161201/1480559338591.jpg" alt=""></div>
    </div>
    <a href="#carousel" class="carright" data-slide="next"></a>
    <a href="#carousel" class="carleft" data-slide="prev"></a>
</div>