.route {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 15px;
    li {
        display: inline-block;
        font-size: 14px;
        line-height: 30px;
        color: #999;
        a {
            color: #999;
        }
        &:last-child {
            color: #333;
        }
    }
}

.course-play {}