<div class="container">
    <ul class="route">
        <li><a href="#">首页</a></li>
        <li>\</li>
        <li><a href="#">课程列表</a></li>
        <li>\</li>
        <li>技术开发套餐</li>
    </ul>
    <div class="course-play clearfix">
        <div class="col-md-6">
            <div class="up-left">
                <a>
                    <img src="../../assets/images/course-derails/1482393428320.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="up-right">
                <h2>{{courseData.coursename}}</h2>
                <ul class="people">
                    <li class="study">学习人数&nbsp;&nbsp;<em>{{courseData.coursestudents}}</em></li>
                    <li class="hours">课时数&nbsp;&nbsp;<em>{{courseData.courseamount}}</em></li>
                    <li class="browse-count">浏览数&nbsp;&nbsp;<em>{{courseData.courseview}}</em></li>
                </ul>
                <div class="lecturer">
                    <p>主讲人：</p>
                    <ul>
                        <li>{{courseData.courseteacherinfo.teachername}}</li>
                    </ul>
                </div>
                <div class="share-box">
                    <div class="collection">
                        <em class="icon18"></em>
                        <p>收藏</p>
                    </div>
                    <div class="share">
                        <em class=" icon18"></em>
                        <p>分享</p>
                        <ul class="">
                            <li>
                                <a title="分享到新浪微博" class="weibo"></a>
                            </li>
                            <li>
                                <a title="分享到微信" class="weixin"></a>
                            </li>
                            <li>
                                <a title="分享到QQ空间" class="qzone"></a>
                            </li>
                            <li>
                                <a title="分享到豆瓣网" class="douban"></a>
                            </li>
                            <li>
                                <a title="分享到人人网" class="renren"></a>
                            </li>
                            <li>
                                <a title="分享到腾讯微博" class="tqq"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="watch">
                    <a>立即观看</a>
                </div>
            </div>
        </div>
    </div>
    <div class="course-content clearfix">
        <div class="down-left fl">
            <ul class="list">
                <li [routerLink]="['course-synopsis']" routerLinkActive='active'>课程详情</li>
                <li [routerLink]="['course-syllabus']" routerLinkActive='active'>课程目录</li>
                <li [routerLink]="['course-comment']" routerLinkActive='active'>课程评论</li>
            </ul>
            <div class="down-content">
                <!--<app-course-synopsis></app-course-synopsis>-->
                <!--<app-course-syllabus [hid]="true"></app-course-syllabus>-->
                <!--<app-course-comment></app-course-comment>-->
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="down-right fr">
            <div class="lecturer">
                <div class="title">
                    <h4>主讲讲师</h4>
                </div>
                <div class="list">
                    <ul>
                        <li class="clearfix">
                            <div class="avatar fl ">
                                <img [src]="courseData.courseteacherinfo.teachersrc" alt="">
                            </div>
                            <div class="content fl">
                                <p class="name">{{courseData.courseteacherinfo.teachername}}</p>
                                <p class="introduction">{{courseData.courseteacherinfo.teachersummary}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="recommend">
                <div class="title">
                    <h4>推荐课程</h4>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <app-courselist [courseData]="recommedData"></app-courselist>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>