<ul class="route">
    <li><a href="#">首页</a></li>
    <li>\</li>
    <li><a href="#">课程列表</a></li>
    <li>\</li>
    <li>技术开发套餐</li>
</ul>
<div class="course-play clearfix">
    <div class="col-md-6">
        <div class="up-left">
            <a href="#">
                <img src="../../assets/images/course-derails/1482393428320.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="up-right">
            <h2>技术开套餐</h2>
            <ul class="people">
                <li class="study">学习人数&nbsp;&nbsp;<em>865</em></li>
                <li class="hours">课时数&nbsp;&nbsp;<em>65</em></li>
                <li class="browse-count">浏览数&nbsp;&nbsp;<em>5485</em></li>
            </ul>
            <div class="lecturer">
                <p>主讲人：</p>
                <ul>
                    <li>李立</li>
                    <li>王健华</li>
                </ul>
            </div>
            <div class="share-box">
                <div class="collection">
                    <em class="icon18"></em>
                    <p>收藏</p>
                </div>
                <div class="share">
                    <em class=" icon18"></em>
                    <p>分享</p>
                    <ul class="">
                        <li>
                            <a href="#" title="分享到新浪微博" class="weibo"></a>
                        </li>
                        <li>
                            <a href="#" title="分享到微信" class="weixin"></a>
                        </li>
                        <li>
                            <a href="#" title="分享到QQ空间" class="qzone"></a>
                        </li>
                        <li>
                            <a href="#" title="分享到豆瓣网" class="douban"></a>
                        </li>
                        <li>
                            <a href="#" title="分享到人人网" class="renren"></a>
                        </li>
                        <li>
                            <a href="#" title="分享到腾讯微博" class="tqq"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="watch">
                <a>立即观看</a>
            </div>
        </div>
    </div>
</div>
<div class="course-content clearfix">
    <div class="down-left fl">
        <ul class="list">
            <li>课程详情</li>
            <li>课程章节</li>
            <li>课程评论</li>
        </ul>

    </div>
    <div class="down-right fr">
        <div class="title">
            <h4>主讲讲师</h4>
        </div>

    </div>
</div>