<div class="login-box">
    <div class="box-top">
      <ul class="clearfix">
        <li class="current"><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">注册</a></li>
      </ul>
      <a href="javascript:;" class="close"></a>
    </div>
    <div class="box-content">
      <section class="dis">
        <ol>
          <li>
            <em class="account-ico"></em>
            <input type="text" placeholder="请输入账户/邮箱/手机号">
          </li>
           <li>
            <em class="pw-ico"></em>
            <input type="text" placeholder="请输入密码">
          </li>
        </ol>
        <section class="choose clearfix">
            <label>
              <input type="checkbox" checked="checked" >
              <span>自动登录</span>
            </label>
            <a href="javascript:;">忘记密码？</a>
        </section>
        <section class="sc-btn">
            <a href="javascript:;">登录</a>
        </section>
      </section>
      <section class="undis" style="display:none">
        <ol>
          <li>
            <em class="account-ico"></em>
            <input type="text" placeholder="请输入账户">
          </li>
           <li>
            <em class="pw-ico"></em>
            <input type="text" placeholder="请输入密码">
          </li>
          <li>
            <em class="pw-ico"></em>
            <input type="text" placeholder="请再次输入密码">
          </li>
           <li>
            <input type="text" placeholder="请输入验证码" class="captcha">
            <span>
              <a href="javascript:;">
                <img src="" alt="" width="100" height="40" alt="验证码，点击图片更换">
              </a>
            </span>
            <span>
              <a href="javascript:;">
                <img src="/assets/images/yz-sxico.png" alt="更换">
              </a>
            </span>
          </li>
        </ol>
        <section class="sc-btn">
            <a href="javascript:;">注册</a>
        </section>
        <p>你还可以选择 <span><a href="javascript:;">邮箱注册</a></span></p>
      </section>
    </div>
</div>
