
.login-box{
    width:420px;
    position:absolute;
    top:82px;
    left:50%;
    margin-left:-213px;
    border-width:3px;
    border-style:solid;
    border-radius: 8px;
    border-color:#ffd7ca;
    background-color:#fff;
    transition:all .3s;
    z-index:999999;
}
.box-top{
  position:relative;
  height:54px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-color:#ffd7ca;
  background:#fff7f5;
  height:54px;
  line-height:54px;
  padding:0px;
    li{
      width:50%;
      float:left;
      text-align: center;
      &.current{
        background: #fff;
        border-bottom:1px solid #fff;
        line-height:54px;
      }
      a{
        color:#666;
        font-size:20px;
      }
    }
  .close{
      position:absolute;
      right:10px;
      top:15px;
      width:16px;
      height:16px;
      background:url(/assets/images/icon.png) no-repeat -341px -204px;
       &:hover{
         background-position:-341px -229px;
       }
  }
}
.box-content{
  padding:20px 50px 20px 50px;
  li{
    position:relative;
    span{
      display:inline-block;
      margin-left:10px;
    }
    em{
      width:40px;
      height:36px;
      display:block;
      position:absolute;
      top:2px;
      left:2px;
      background:url(/assets/images/icon.png) no-repeat;
      font-style:normal;
      &.account-ico{
        background-position:-529px 8px;
      }
      &.pw-ico{
        background-position:-529px -33px;
      }
    }
    input{
      background:#fff;
      border:1px solid #ddd;
      height:38px;
      font:16px/38px 'Microsoft YaHei';
      width:317px;
      padding-left:45px;
      vertical-align: middle;
      border-radius: 4px;
      margin-bottom:24px;
      outline: none;
      &.captcha{
        width:150px;
        padding-left:5px;
      }
    }
    a{
      margin-top:-26px;
      vertical-align: middle;
      display:inline-block;
    }

  }
  .choose{
      height:30px;
      line-height:30px;
      margin:-10px 0px 0px 10px;
      label{
        float:left;
        color:#999;
        cursor:pointer;
        vertical-align: middle;
        input{
          margin:3px;
          vertical-align:middle;
        }
      }
      a{
        float:right;
        color: #3580DE;
      }
  }
  .sc-btn{
    margin:20px 0 34px 0px;
    text-align: center;
    a{
      display:block;
      width:328px;
      margin:0 auto;
      height:42px;
      background-color:#d44920;
      text-align: center;
      font:18px/42px 'SimHei';
      color:#fff;
      border-radius: 4px;
      color:#fff;
      text-decoration: none;
    }
  }
  .undis{
    p{
      margin:10px 0 30px 0px;
      color:#666;
      font-size:14px;
      font-family: 'Microsoft YaHei';
      span{
        a{
          text-decoration: none;
          color: #43970F;;
        }
      }
    }
  }
}
@media only screen and (max-width: 771px) and (min-width: 375px){
  .login-box{
    width:326px;
  }
  .box-content{
    padding:10px 20px 10px 20px;
    li{
      input{
        width:280px;
        height:38px;
        font:13px/30px 'Microsoft YaHei';
        display:inline-block;
        &.captcha{
        width:100px;
        padding-left:5px;
      }
      }
    }
  .sc-btn{
    margin:10px 0 14px 0px;
    a{
      display:inline-block;
       width:280px;
       }
     }
  }
}
