<div class="comment ">
    <form class="clearfix">
        <div class="avatar fl">
            <img src="../../assets/images/course-derails/avatar-boy.gif" alt="">
        </div>
        <div class="reply fr">
            <textarea name="" id="" cols="30" rows="3" placeholder="请输入你的文字"></textarea>
            <button type="button" class="fr">回复</button>
        </div>
    </form>
</div>
<div class="comment-list">
    <ul>
        <li class="clearfix">
            <div class="avatar fl">
                <img src="../../assets/images/course-derails/avatar-boy.gif" alt="">
            </div>
            <div class="comment-right fr">
                <p>
                    <a href="#" class="user-name">盛世国际</a> &nbsp;&nbsp;评论：
                </p>
                <p class="comment-content">
                    课程不错可以，希望可以再录制一些。
                </p>
                <p class="comment-date">
                    2017-05-09
                </p>
            </div>
        </li>
        <li class="clearfix">
            <div class="avatar fl">
                <img src="../../assets/images/course-derails/avatar-boy.gif" alt="">
            </div>
            <div class="comment-right fr">
                <p>
                    <a href="#" class="user-name">盛世国际</a> &nbsp;&nbsp;评论：
                </p>
                <p class="comment-content">
                    课程不错可以，希望可以再录制一些。
                </p>
                <p class="comment-date">
                    2017-05-09
                </p>
            </div>
        </li>
        <li class="clearfix">
            <div class="avatar fl">
                <img src="../../assets/images/course-derails/avatar-boy.gif" alt="">
            </div>
            <div class="comment-right fr">
                <p>
                    <a href="#" class="user-name">盛世国际</a> &nbsp;&nbsp;评论：
                </p>
                <p class="comment-content">
                    课程不错可以，希望可以再录制一些。
                </p>
                <p class="comment-date">
                    2017-05-09
                </p>
            </div>
        </li>

    </ul>
</div>