.comment {
    .avatar {
        padding-top: 10px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
    .reply {
        width: calc(100% - 100px);
        textarea {
            width: calc(100% - 20px);
            margin-right: 20px;
            font-size: 16px;
            background: #fff;
            border: 1px solid #ddd;
            color: #666;
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 10px;
        }
        button {
            font-size: 14px;
            color: #fff;
            background-color: #14ba4c;
            border: 1px solid #14ba4c;
            border-radius: 5px;
            padding: 4px 20px;
            margin-right: 5px;
        }
    }
}