<div class="courselist">
    <div class=" thumbnail" [routerLink]="['/course-details',courseData.courseid] ">
        <div class="imgbox ">
            <img [src]="courseData.src " alt=" ">
        </div>
        <div class="caption ">
            <div class="clearfix ">
                <h1 class="pull-left ">{{courseData.coursename}}</h1>
            </div>
            <div class="info ">
                <span>{{courseData.sell}}人购买</span><span>{{courseData.watch}}浏览</span>
                <!--<em class="pull-right ">免费</em>-->
            </div>
        </div>
    </div>
</div>