<div class="courselist clearfix">
    <div class="col-sm-6 col-md-3 col-xs-6 listitem" *ngFor="let index of arr(num).fill(1)">
        <div class="thumbnail">
            <div class="imgbox">
                <img src="http://wx.jledu.com.cn/images/upload/course/20160630/1467282090541.jpg" alt="">
            </div>
            <div class="caption">
                <div class="clearfix">
                    <h1 class="pull-left">直播直播直播直播</h1>
                </div>
                <div class="info">
                    <span>xx人购买</span><span>xxx浏览</span>
                    <!--<em class="pull-right">免费</em>-->
                </div>
            </div>
        </div>
    </div>
</div>
