<div class="courselist clearfix">
    <div class="col-sm-6 col-md-3 col-xs-6 listitem" *ngFor="let item of courseData | slice :index :(index+1)*4">
        <div class=" thumbnail ">
            <div class="imgbox ">
                <img [src]="item.src " alt=" ">
            </div>
            <div class="caption ">
                <div class="clearfix ">
                    <h1 class="pull-left ">{{item.coursename}}</h1>
                </div>
                <div class="info ">
                    <span>{{item.sell}}人购买</span><span>{{item.watch}}浏览</span>
                    <!--<em class="pull-right ">免费</em>-->
                </div>
            </div>
        </div>
    </div>
</div>