#footer{
  background-color:#323232;
  border-top-width:5px;
  border-top-style:solid;
  color:#d44920;
  padding:30px 0;
  overflow: hidden;
}
.link{
  width:80%;
  float:left;
  h4{
    font-family: 'Microsoft YaHei';
    font-size:18px;
    color:#fff;
    padding-bottom:20px;
    border-bottom:1px solid #393939;
  }
  p{
    margin-top:20px;
    span{
      color:#666;
      margin:0 10px 5px;
      display:inline-block;
      vertical-align: middle;
      a:hover{
        color:#fff;
      }
    }
  }
}
aside{
  text-align: center;
  float:right;
  width:20%;
  img{
    width:60%;
    height:60%;
  }
  p{
    text-align: center;
    color:#666;
    line-height:25px;
  }
}
.moblie-foot{
  display:none;
}
@media only screen and (max-width: 769px) and (min-width: 375px){
    #footer{
      display:none;
    }
    .moblie-foot{
      display:block;
        height:50px;
        width:100%;
        position:fixed;
        bottom:0;
        left:0;
        z-index:999;
        ul{
          background-color: #e9e9e9;
          border-top:1px solid #d44920;
          li{
            width:25%;
            float:left;
            a{
              display:block;
              width:100%;
              height:100%;
              text-align:center;
              svg{
                width:22px;
                height:22px;
                margin:4px auto 0;
              }
            }
          }
        }
    }
}
