/* You can add global styles to this file, and also import other style files */

h1 {
    margin: 0;
    padding: 0;
}

.col-xs-6 {
    padding: 0;
}

.thumbnail .caption {
    padding: 5px;
}

$min-font-size:1.4rem;
$max-font-size: 1.8rem;
$min-screen: 600px;
$max-screen: 1200px;
:root {
    font-size: 10px;
    font-family: "Helvetica Neue", \5FAE\8F6F\96C5\9ED1, "SimHei", Tohoma;
}

@media(max-width:500px) {
     :root {
        font-size: 8px;
    }
}

article {
    font-size: $min-font-size
}

@media(min-width:$min-screen) and (max-width: $max-screen) {
    article {
        font-size: calc($min-font-size + (2 - 1.4) * ((100vw - $min-screen) / (1200 - 800)));
    }
}

@media(min-width:$max-screen) {
    article {
        font-size: $max-font-size;
    }
}