<div class="bgc">
    <app-courslist></app-courslist>
    <div class="container">
        <div class="sort-wrap">
            <section class="tap clearfix">
                <ol>
                    <li class="current"><a href="javascript:;">综合排序</a></li>
                    <li><a href="javascript:;">最新</a></li>
                    <li><a href="javascript:;">最热</a></li>
                    <li><a href="javascript:;">价格</a></li>
                </ol>
            </section>
            <app-courselist [num]='12'></app-courselist>
        </div>
    </div>
</div>