<div class="title">
    <h4>课程目录</h4>
</div>
<div class="content">
    <ul>
        <li class="list">
            <a href="#" title="第一章" class=" headline">
                <p class="">第一章</p>
                <span class="icon16"></span>
            </a>
            <ol class="section">
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>

            </ol>
        </li>
        <li class="list">
            <a href="#" title="第一章" class=" headline">
                <p class="">第一章</p>
                <span class="icon16"></span>
            </a>
            <ol class="section">
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>
                <li>
                    <span class="icon16"></span>
                    <p>第一节</p>
                    <a href="#">学习开始</a>
                </li>

            </ol>
        </li>

    </ul>
</div>