<div class="title">
    <h4>课程目录</h4>
</div>
<div class="content">
    <ul>
        <li class="list" *ngFor="let item of courseData.coursecatalogue">
            <a title="第一章" class="headline" (click)='onoff()'>
                <p class="">{{item.title}}</p>
                <span class="icon16"></span>
            </a>
            <ol class="section" [style.max-height]="coursekey?'165px':'0px'">
                <li *ngFor="let items of item.content">
                    <span class="icon16"></span>
                    <p>{{items}}</p>
                    <a href="#">学习开始</a>
                </li>
            </ol>
        </li>
    </ul>
</div>